@import url("https://uilight.netlify.app/main.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.parent {
    border: 5px solid black;
    width: 500px;
    height: 200px;
    padding: 0;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
  height: 38px;
    -webkit-font-smoothing: antialiased;
   color: red;
   
  }
  .material-icons-outlined{
    color: red;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
  height: 38px;
    -webkit-font-smoothing: antialiased;
  }
  .search{
    
    
    width: 50px;
    position: absolute;
   padding: 5px;
   right: 680px;
   margin-right: 15px;

  }
  #search-input{
    height: 38px;
    width: 350px;
    padding-left: 40px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid red;
    background-color: transparent;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 100px;
    z-index: 1;
    
  }
ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 400px;
    align-items: center;
    
}
li{
    margin: 0 1px 0 1px;
}
.left{
    display: flex;
   
}
.center{
    width: 500px;
    padding: 20px;
}
.right{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    width: 200px;
    align-items: center;
    margin-top: 4px;
}
a{
    color: black;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    
}
.person{
    font-size: 100px;
}




/* Category */
.category-cards{
  background-image: url("./assets/furniture.png");
  width: 100px;
  height: 200px;
}
#products{
  display: flex;
  justify-content: space-evenly;
}

.card-image{
  object-fit:contain;
}
.card-image-container{
  height: 200px;
  padding: 4px;
 
}
.cart-img{
 width: 30px;
 /* color: white; */
 background: transparent;
}
.button{
  display: flex;
  justify-content: space-between;
}



/* footer */
footer{
padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  background-color: black;
  color: #fff;
}

.cartImageinhor{
width: 20px;
}



.main {
  padding-top: 8rem;
}

.heading-2 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
}

.final-price {
  width: 25rem;
  background-color: var(--card-background);
  align-self: flex-start;
}

.justify-space-between {
  justify-content: space-between;
}

.side-bar {
  width: 20rem;
  position: fixed;
}

.product-container {
  margin-left: 21rem;
}

.heading-3 {
  padding: 10px 0;
}

.filter-container {
  padding: 1rem 0;
}

.label {
  font-size: 1.25rem;
}
.radio {
  width: 1.25rem;
  height: 1.25rem;
}

.wishlist{
  position: absolute;
  top: 20px;
  right: 50px;
  height: 4px;
  width: 10px;
}